// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary-color: #d5d5d5;
$background-page: #121212;
$background-color: #272727;
$cyberyellow: #FCEE0C;
$cyberblue: #03d8f3;
$cyberpurple: #fe00fe;