
.cyberyellow {
    color: $cyberyellow;
}

.cyberblue {
    color: $cyberblue;
}

.cyberpurple {
    color: $cyberpurple;
}

.cyberyellow-bg {
    background: $cyberyellow;
}

.cyberblue-bg {
    background: $cyberblue;
}

.cyberpurple-bg {
    background: $cyberpurple;
}


